#navigation_header {
    transition: 0.5s ease;
    opacity: 0;
    visibility: hidden;

    &.active {
        opacity: 1;
        visibility: visible;
    }
}

#navigation_header--scrolled {
    z-index: 1001;
    transition: 0.5s ease;
    opacity: 0;
    visibility: hidden;

    &.active {
        opacity: 1;
        visibility: visible;
    }

    .menu {
        transition: color 0.5s ease;
        .open {

        }
        .close {
            .text, .icon {
                visibility: hidden;
                opacity: 0;
            }
        }
    }
}

#dropdown_menu {
    z-index: 1000;
    // visibility: hidden;
    // opacity: 0;
    &.active {
        z-index: 1000;
    }
}