#navigation_header {
    display: none;
    transition: 0.5s ease;
    opacity: 0;
    visibility: hidden;

    .top-nav,
    .home-link {
        opacity: 0;
        visibility: hidden;
        transform: translateY(100px);
    }

    &.active {
        opacity: 1;
        visibility: visible;
    }

    @include lg {
        display: flex;
    }
}

#navigation_header--scrolled {
    z-index: 1001;
    transition: 0.5s ease;

    @include lg {
        opacity: 0;
        visibility: hidden;
    }

    &.active {
        opacity: 1;
        visibility: visible;
    }

    .menu {
        z-index: 1001;
        transition: color 0.5s ease;

        .open {}

        .close {

            .text,
            .icon {
                visibility: hidden;
                opacity: 0;
            }
        }
    }
}

#dropdown_menu {
    z-index: 1000;

    // visibility: hidden;
    // opacity: 0;
    &.active {
        z-index: 1000;
    }

    .left {
        .img {
            height: 30.13889vw;
            width: 21.31944vw;
            opacity: 0.5;
        }
    }

    .right {
        .navigation {
            &_link {
                color: #e4e0db;
                font-size: 56px;
                width: fit-content;
                visibility: hidden;
                opacity: 0;

                &:not(:first-child) {
                    margin-top: -10px;
                }

                @include lg {
                    font-size: 48px;
                }

                @include xl2 {
                    font-size: 64px;
                }
            }
        }

        .social {
            &_link {

                color: rgba(228, 224, 219, 0.6);
                font-size: 20px;
                width: fit-content;
                visibility: hidden;
                opacity: 0;

            }
        }
    }
}