@import "./base/base";
@import "./base/color";
@import "./screen/screen";
@import "./effect/effect";
@import "./components/hover-btn/hoverBtn";
@import "./page/home";
@import "./components/navigations/footer";
@import "./components/navigations/header";
@import "./components/follower/index";
@import './page/work';

html {
  overflow-x: hidden;
}

*, :after, :before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
